<div class="NotFound">
  <mat-card class="Card">

    <!---------------------------------------------------------------------->
    <!--                          Card Header
    <!---------------------------------------------------------------------->

    <mat-card-header>
      <div mat-card-avatar class="Card-Img"></div>
      <mat-card-title>Oops, page not found :(</mat-card-title>
      <mat-card-subtitle>Sorry</mat-card-subtitle>
    </mat-card-header>

    <!---------------------------------------------------------------------->
    <!--                           Card Img
    <!---------------------------------------------------------------------->

    <img mat-card-image src="../../../assets/notFound.jpg" alt="Not Found Img">

    <!---------------------------------------------------------------------->
    <!--                          Card Content
    <!---------------------------------------------------------------------->

    <mat-card-content>
      <p>It looks like this page is missing :(</p>
      <p>Please, try to find another one.</p>
    </mat-card-content>

    <!---------------------------------------------------------------------->
    <!--                          Card Actions
    <!---------------------------------------------------------------------->

    <mat-card-actions>
      <a mat-stroked-button [routerLink]="home">Let's start from homepage</a>
    </mat-card-actions>
  </mat-card>
</div>
