<div class="Settings">

  <!---------------------------------------------------------------------->
  <!--                        Settings Toolbar
  <!---------------------------------------------------------------------->

  <mat-toolbar class="Settings-Toolbar">
    Settings
  </mat-toolbar>

  <p>Soon here would be some settings</p>

  <!---------------------------------------------------------------------->
  <!--                         Some block
  <!---------------------------------------------------------------------->

</div>
