<div class="Clients">

  <!---------------------------------------------------------------------->
  <!--                        Clients Toolbar
  <!---------------------------------------------------------------------->

  <mat-toolbar class="Clients-Toolbar">
    Clients
  </mat-toolbar>

  <p>Soon here would be some list of clients.</p>

  <p>Choose your link:</p>

  <p><a mat-button [routerLink]="client">Some awesome client</a></p>
  <p><a mat-button [routerLink]="settings">Settings</a></p>

  <!---------------------------------------------------------------------->
  <!--                         Some block
  <!---------------------------------------------------------------------->

</div>
