<div class="Client">

  <!---------------------------------------------------------------------->
  <!--                        Client Toolbar
  <!---------------------------------------------------------------------->

  <mat-toolbar class="Client-Toolbar">
    Client
  </mat-toolbar>

  <p>Soon here would be some info about this client.</p>

  <p><a mat-button [routerLink]="wrong">Some wrong route</a></p>

  <!---------------------------------------------------------------------->
  <!--                         Some block
  <!---------------------------------------------------------------------->

</div>
