<div class="Home">

  <!---------------------------------------------------------------------->
  <!--                      Common actions block
  <!---------------------------------------------------------------------->

  <div class="Common">

    <!---------------------------------------------------------------------->
    <!--                        Common Toolbar
    <!---------------------------------------------------------------------->

    <mat-toolbar class="Common-Toolbar">
      Breadcrumbs routes config
    </mat-toolbar>

    <!---------------------------------------------------------------------->
    <!--                            Config
    <!---------------------------------------------------------------------->

    <pre class="Common-Config">
      {{ config }}
    </pre>
  </div>

  <!---------------------------------------------------------------------->
  <!--                           Some block
  <!---------------------------------------------------------------------->

</div>
