<div class="Logout">

  <!---------------------------------------------------------------------->
  <!--                        Logout Toolbar
  <!---------------------------------------------------------------------->

  <mat-toolbar class="Logout-Toolbar">
    You are now logged out
  </mat-toolbar>

  <div class="Logout-Main">
    <button mat-stroked-button class="Logout-Btn" (click)="login()">
      Log In
    </button>
  </div>

  <!---------------------------------------------------------------------->
  <!--                         Some block
  <!---------------------------------------------------------------------->

</div>
